* {
    box-sizing: border-box;
}

.font_style {
    font-family: Tahoma, serif;
}

.main_header {
    text-indent: 20px;
    font-weight: normal;
    max-width: 750px;
    font-size: 1.73em;
    color: #676565;
    margin-bottom: -5px;
}

.form_block {
    max-width: 736px;
}

.client_info {
    background-color: #FEEED6;
    width: 100%;
    padding: 10px 18px;
    margin-top: 10px;
    font-size: 14px;
    float: left;
}

.client_info p {
    margin: 5px 0 0 0;
    max-width: 100%;
}

.client_info label {
    color: #6D656D;
    font-weight: bold;
}

.client_info input, .client_info textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    font-size: inherit;
    font-stretch: semi-expanded;
    background-color: #fff;
    border: none;
    outline: none;
}

.client_info textarea {
    height: 90px;
    font-family: sans-serif;
    resize: vertical;
}


.client_info span {
    color: rgba(85, 85, 85, 0.7);
    width: 100%;
}

.button-style {
    border: none;
    outline: none;
    margin: 10px 0 5px 0;
    height: 30px;
    min-width: 150px;
    font-size: inherit;
    font-weight: bold;
    background-color: #378DB2;
    color: #fff;
    cursor: pointer;
}

.button-style:hover {
    background-color: #007FFF;
}

.client_info ::placeholder {
    color: rgba(85, 85, 85, 0.5);
}

.right-position {
    float: right;
}