* {
    box-sizing: border-box;
}

.font_style {
    font-family: sans-serif;
}

.main_header {
    padding: 0 20px;
    font-weight: normal;
    max-height: 27px;
    font-size: 1.73em;
    color: #676565;
    margin-bottom: 0;
}

.form_block {
    max-width: 736px;
}

.client_info {
    background-color: #FEEED6;
    width: 100%;
    padding: 10px 18px;
    margin-top: 10px;
    font-size: 14px;
}

.client_info::after {
    content: "";
    display: table;
    clear: both;
}

.client_info label {
    margin-top: 15px;
    color: #6D656D;
    font-weight: bold;
}

.client_info input, .client_info textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #555555FF;
    font-weight: 500;
    font-size: inherit;
    font-stretch: semi-expanded;
    background-color: #fff;
    border: none;
    outline: none;
}

.client_info textarea {
    height: 110px;
    font-family: sans-serif;
    resize: vertical;
    margin-bottom: 0;
}

.client_info p.instruction {
    color: #555555B2;
    width: 100%;
}

.submit_button {
    padding: 8px 13px;
    border: none;
    outline: none;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: inherit;
    font-weight: bold;
    background-color: #378DB2;
    color: #fff;
    cursor: pointer;
    float: right;
}

.submit_button:hover {
    background-color: #007FFF;
}

.client_info ::placeholder {
    color: #5555557F;
}