body {
    background-color: #ffeed5;
    font-family: sans-serif;
    color: #726459;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

.main_header {
    font-weight: normal;
    max-width: 700px;
    font-size: 27px;
    margin-top: 1px;
}

.item_label {
    font-weight: bold;
    color: #398eb3;
}

.about_text {
    text-indent: 15px;
    max-width: 750px;
    text-align: justify;
    line-height: 150%;
}