* {
    box-sizing: border-box;
}

.text_block {
    background-color: #ffeed5;
    font-family: sans-serif;
    color: #726459;
    padding-left: 11px;
    padding-bottom: 1px;
    max-width: 745px;
}

.main_header {
    font-weight: normal;
    font-size: 28px;
    padding-top: 10px;
}

.item {
    margin-top: -6px;
}

.item_label {
    font-weight: bold;
    color: #398eb3;
}

.about_text p {
    margin-top: -7px;
    padding-right: 10px;
    text-align: justify;
    font-size: 15px;
    text-indent: 15px;
    line-height: 150%;
}