* {
    box-sizing: border-box;
}

.text_block {
    background-color: #ffeed5;
    font-family: sans-serif;
    color: #726459;
    padding: 0 11px 5px 11px;
    max-width: 745px;
}

.main_header {
    font-weight: normal;
    font-size: 28px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.item {
    margin: 10px 0;
}

.item_label {
    font-weight: bold;
    color: #398eb3;
}

.about_text p {
    margin: 0 0 10px 0;
    padding-right: 10px;
    text-align: justify;
    font-size: 15px;
    text-indent: 15px;
    line-height: 150%;
}