* {
    box-sizing: border-box;
}

.temperature_converter_block {
    padding: 10px 20px;
    font-family: "DejaVu Sans", sans-serif;
    background-color: #9EA1DC;
    width: 100vw;
    height: 100vh;
}

.main_header {
    font-size: 40px;
}

.temperature_converter_form label {
    font-size: 30px;
    color: #FFF;
}

.field_wrapper {
    display: inline-block;
}

.field_wrapper input {
    width: 500px;
    height: 40px;
    border: #000 solid 1px;
    font-size: 20px;
    padding: 10px 5px;
    margin-top: 10px;
}

.temperature_converter_form button {
    vertical-align: top;
    margin-top: 10px;
    padding: 0.53%;
    background-color: #4EFF61;
    color: #FFF;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: #000 solid 1px;
}

.temperature_converter_form button:hover {
    background-color: #42CB52;
}

.error_message {
    display: none;
    color: #FF3256;
    margin-top: 5px;
    font-weight: bold;
}

.invalid {
    border: #FF3256 solid 1px;
    background-color: #FD7B93;
}

.invalid ~ .error_message {
    display: block;
}

.temperature_output_list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 30px;
}

.temperature_output_list li {
    color: #FFF;
    font-size: 20px;
    padding-bottom: 15px;
}