* {
    box-sizing: border-box;
}

.table_block {
    max-width: 855px;
}

.employees {
    border-collapse: collapse;
    border: 1px solid #C2DDEB;
    width: 100%;
    font-family: sans-serif;
    font-size: 125%;
}

.employees thead tr th {
    border: 1px solid #C2DDEB;
    padding: 13px 10px;
    background-color: #3698DB;
    font-weight: normal;
    color: #FFF;
    text-align: left;
}

.employees tbody tr td {
    border: 1px solid #D4D4D4;
    padding: 13px 10px;
    color: #08050C;
}

.employees tbody tr:nth-child(odd) {
    background-color: #EEE;
}