* {
    box-sizing: border-box;
}

.table_div {
    max-width: 850px;
}

.employees {
    border-collapse: collapse;
    border: 1px solid #E9E9E9;
    width: 100%;
    font-family: sans-serif;
    font-size: 110%;
}

.table_head th {
    border: 1px solid #E4E4E4;
    padding: 16px 10px;
    background-color: #3698DB;
    font-weight: normal;
    color: #FFF;
    text-align: left;
}

.table_body td {
    border: 1px solid #E4E4E4;
    padding: 16px 10px;
    color: #08050C;
}

.table_body tr:nth-child(odd) {
    background-color: #EEE;
}